local module = {}

module.ID = node.chipid()

module.wifi = {}
module.wifi.SSID = {}  
module.wifi.SSID["Your_SSID"] = "Your_Password"
module.wifi.timer = 1

module.mqtt = {}
module.mqtt.HOST = "your_mqtt_host_name"
module.mqtt.PORT = 1883  
module.mqtt.ENDPOINT = "device/"  
module.mqtt.PING_TIME = 1000
module.mqtt.timer = 6

return module  
